<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Human page</h1>
	<form th:action="@{/}" th:object="${human}" method="post">

		<div>
			<p>
				Human firstName : <input type="text" th:field="*{firstName}" />
			</p>
			<p>
				Human lastName : <input type="text" th:field="*{lastName}" />
			</p>
			<p>
				God :<input type="checkbox" th:field="*{god}" />
			</p>
			<p>
				Male <input type="radio" th:field="*{gender}" value="Male"/>
				Female <input type="radio" th:field="*{gender}" value="Female"/> 
			</p>
		</div>
		<div>
			<input type="submit" value="Add human" /> <input type="reset" value="Reset" />
		</div>
	</form>

</body>
</html>