<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{app.title}">Create an human</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<h1 th:text="#{app.create-human}">Create</h1>
	<form action="#" th:action="@{/app/human-create}" th:object="${human}" method="POST">
		<table>
			<tr><td th:text="#{human.firstName}" /></td>
				<td>
					<input type="text" th:field="*{firstName}" />			
					<label th:if="${#fields.hasErrors('firstName')}" th:text="#{error.human.firstName}"	th:class="'error'">First name Error</label>
				</td>
			</tr>
			
			
			
			<tr><td colspan="2">
	              <input type="submit" th:value="#{human.form.submit}"/> 
	              <input type="reset" th:value="#{human.form.reset}"/>
	            </td>
	        </tr>
        </table>
	</form>

</body>
</html>